#######################
###     Sandbox     ###
#######################


### Java ###

hs_err_pid*
replay_pid*

.mtj.tmp/


### System ###

*._*
*.~*
*-lock*
*.lock*

thumbs.db
*.ds_store


### Environment ###

.idea/
*.iml
*.iws

.vscode/
*.sln
*.sln.*
*.*sproj
*.user
*.suo
*.pdb
*.ilk
*.ncb
*.ntvs*
*.sw?

*.ctxt

.env.local
.env.*.local
*resharper*/


### Versioning ###

.git/
.svn/
cvsroot/
*.vspscc


### Personal ###

notes.txt

*key
*keys
*login
*logins
*pass
*password
*passwords
*account
*accounts
*user
*users
*credentials
*secret
*secrets
*private
*personal

*.old
*-old.*
*.bak
*-bak.*
*.backup
*-backup.*
*.save
*-save.*


### Directories ###

bin/
target/
out/
output/
obj/
build*/
debug*/
release*/
artifact*/
archive*/
maven*/
generated*/

data/
conf/
config/
configs/
configuration/
setting/
settings/
user/
users/
profile/
profiles/

etc/
*bak/
*backup/
*save/
*saved/

javadoc/
javadocs/
doc/
docs/

lib/
libs/
dist/
repo/
repository/
dependency/
dependencies/
import/
imports/
imported/
node_modules/
bower/

*log/
*logs/
*report/
*reports/
*result/
*results/

*tmp/
*temp/
*work/


### Files ###

*.class
*.obj

*.log

*.bin
*.binary
*.hex

*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.tar
*.tar.gz
*.rar

*.exe
*.ex_
*.msi
*.isu
*.inx
*.paf
*.pif
*.u3p
*.msp
*.mst
*.out
*.run
*.app
*.osx
*.apk
*.ipa
*.prg

*.dll
*.lib
*.aps
*.pch
*.gch
*.tlh
*.tli
*.tlb
*.sbr

*.bat
*.ps1
*.cmd
*.com
*.sct
*.msc
*.shs
*.jse
*.vb
*.vbe
*.vbs
*.vbscript
*.ws
*.wsf
*.wsh
*.sh
*.csh
*.ksh
*.command
*.action
*.workflow

*.reg
*.rgs
*.inf
*.job
*.cpl
*.ins
*.scr
*.gadget

*.cache
*.lnk
*.shb


### Settings ###

!.idea/
**/.idea/*

!**/.idea/codeStyles/
!**/.idea/dictionaries/
!**/.idea/inspectionProfiles/
!**/.idea/scopes/

!**/.idea/.name
!**/.idea/compiler.xml
!**/.idea/encodings.xml
!**/.idea/jarRepositories.xml
!**/.idea/misc.xml
!**/.idea/modules.xml
!**/.idea/uiDesigner.xml
!**/.idea/vcs.xml
!**/.idea/settings.*


### Whitelist ###

!**/src/**
!**/source/**
!**/sources/**

!**/test/**
!**/test-src/**
!**/test-source/**
!**/test-sources/**

!**/resources/**
!**/resource/**

!**/test-resources/**
!**/test-resource/**


### Project ###

#
